.alt-display {
    display: none;
}
// ヘッダー・フッター固定
.sticky-top-form {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #f8f9fa;
}

.sticky-bottom-form {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #f8f9fa;
    padding: 10px;
}


// メッセージエリア
.topic_message_main {
    overflow-y: scroll;
    padding-left: 15px;
}
.message {
    position: relative;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
    display: inline-block;
    max-width: 100%;
}
.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 5px 0 0 5px;
}
.username {
    font-weight: bold;
    margin-bottom: 4px;
}

#scrollable-nav {
    overflow-y: scroll;
    height: calc(100% - 10em);
}
.custom-aside {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.back-link-wrapper {
    margin-top: auto;
    text-align: center;
}
#fh5co-hero {
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.message-container {
    position: relative;
}
// リアクション候補表示アイコン
.emoji-icon {
    font-size: 30px;
    display: none;
    position: absolute;
    right: 90px;
    top: -5px;
    cursor: pointer;
}
.emoji-icon2 {
    font-size: 30px;
    display: none;
    position: absolute;
    right: 90px;
    top: -5px;
    cursor: pointer;
}
// リアクション表示位置
@media (max-width: 991px) {
    .emoji-tool {
        transform: translate(-10%, 0);
    }
    .emoji-tool2 {
        transform: translate(-10%, 0);
    }
}
.emoji-tool {
    display: none;
    border-radius: 20px;
    font-size: 30px;
    position: absolute;
    left: 40%;
    top: 45px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
}
.emoji-tool2 {
    display: none;
    border-radius: 20px;
    font-size: 30px;
    position: absolute;
    left: 40%;
    top: 45px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
}
// リアクション候補ホバーで大きく
.emoji-container {
    display: inline-block;
}
.emoji-container:hover .emoji {
    transform: scale(1.2);
}
.emoji {
    color: black;
    display: inline-block;
    transition: transform 0.3s ease;
}
.originalMessage {
    padding-bottom: 10px;
}
// コメントに付いたリアクション
.emoji-reaction {
    position: absolute;
    cursor: pointer;
    color: black;
}
.self-emoji-reaction {
    border: 1px solid rgba(29,155,209,1);
    background-color: #1D9BD11A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
// リアクションの名前表示
.tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.3s;
    width: auto;
    white-space: nowrap;
}
.emoji-reaction:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

// 返信カウント
.replies-count {
    margin-top: 10px;
}
.reply-icon {
    display: none;
    position: absolute;
    right: 60px;
    top: 10px;
    cursor: pointer;
}
.trash-icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.message-container:hover .emoji-icon {
    display: block;
}
.message-container:hover .emoji-icon2 {
    display: block;
}
.message-container:hover .trash-icon {
    display: block;
}
.message-container:hover .reply-icon {
    display: block;
}
.message-container:hover {
    background-color: #f8f9fa;
    border-radius: 10px;
}
.reply-info {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.reply-info:hover {
    text-decoration: underline;
}

// 返信元メッセージ強調
@keyframes glowing {
    0% {
        background-color: #f8f9fa;
    }
    50% {
        background-color: #f0f3f7;
    }
    100% {
        background-color: #f8f9fa;
    }
}
.highlighted-message {
    animation: glowing 1s linear infinite;
}

// 表示切り替えスイッチ
.switch {
    --secondary-container: #908e94;
    --primary: #0b1de9;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
}
.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4e4f51;
    transition: .2s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #908e94;
    transition: .4s;
}
input:checked + .slider::before {
    background-color: var(--primary);
}
input:checked + .slider {
    background-color: var(--secondary-container);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
}
input:checked + .slider:before {
    transform: translateX(1.9em);
}

.editable-container {
    display: block;
    margin-right: 150px;
}
.replies-editable-container {
    display: block;
    margin-right: 150px;
}
@media (max-width: 767px) {
    .editable-container {
        margin-right: 100px;
    }
}
@media (max-width: 767px) {
    .replies-editable-container {
        margin-right: 100px;
    }
}
#text1 {
    outline: none;
}
#text2 {
    outline: none;
}
.responsive-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 3px;
}




