@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
.category-form {
  padding-top: 60px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.category-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.category-form-text {
  display: flex;
  align-items: center;
}

.desc {
  display: flex;
}

.category-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .category-form-input {
    height: 30px;
    width: 80px;
    font-size: 14px;
    border: none;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .category-select-input {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .category-form-text .form-control {
    height: 30px;
    width: 200px;
    font-size: 14px;
  }
  .btn-category-form {
    height: 30px;
    width: 30px;
  }
  .btn-category-select {
    height: 30px;
  }
  .blog-entry {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .category-form-input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .category-select-input {
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .blog-entry {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .category-form-input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .category-select-input {
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
  }
  .blog-entry {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.btn-category-form {
  border-radius: 17px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 15px #c5c5c5, -5px -5px 15px #fbfbfb;
  display: inline-flex;
  align-items: center;
}

.btn-category-select {
  font-size: 10px;
  border-radius: 17px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 15px #c5c5c5, -5px -5px 15px #fbfbfb;
}

.alt-display {
  display: none;
}

.sticky-top-form {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #f8f9fa;
}

.sticky-bottom-form {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #f8f9fa;
  padding: 10px;
}

.topic_message_main {
  overflow-y: scroll;
  padding-left: 15px;
}

.message {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
  display: inline-block;
  max-width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.username {
  font-weight: bold;
  margin-bottom: 4px;
}

#scrollable-nav {
  overflow-y: scroll;
  height: calc(100% - 10em);
}

.custom-aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.back-link-wrapper {
  margin-top: auto;
  text-align: center;
}

#fh5co-hero {
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

.message-container {
  position: relative;
}

.reply-icon {
  display: none;
  position: absolute;
  /* アイコンの位置を調整 */
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.message-container:hover .reply-icon {
  display: block;
}

.message-container:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.reply-info {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.reply-info:hover {
  text-decoration: underline;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #f8f9fa;
  }
  50% {
    background-color: #f0f3f7;
  }
  100% {
    background-color: #f8f9fa;
  }
}

@keyframes glowing {
  0% {
    background-color: #f8f9fa;
  }
  50% {
    background-color: #f0f3f7;
  }
  100% {
    background-color: #f8f9fa;
  }
}
.highlighted-message {
  -webkit-animation: glowing 1s linear infinite;
          animation: glowing 1s linear infinite;
}

.switch {
  --secondary-container: #908e94;
  --primary: #0b1de9;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e4f51;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #908e94;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}
