@import url(https://fonts.googleapis.com/css?family=Nunito);
.category-form {
  padding-top: 60px;
}

.category-form-tag {
  width: 300px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.blog-entry {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.category-form-input {
  width: 100%;
  height: 54px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 14px 14px 27px #c5c5c5, -14px -14px 27px #fbfbfb;
  transition: 0.3s;
}

.btn-category-form {
  height: 54px;
  border-radius: 17px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 15px #c5c5c5, -5px -5px 15px #fbfbfb;
}

.category-select {
  width: 30%;
}

.btn-category-select {
  font-size: 10px;
  border-radius: 17px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 15px #c5c5c5, -5px -5px 15px #fbfbfb;
}

.category-select-input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 14px 14px 27px #c5c5c5, -14px -14px 27px #fbfbfb;
  transition: 0.3s;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table tr {
  height: 50px;
}

.table-avatar {
  width: 50px;
}

.table-avatar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.table-message {
  position: relative;
  padding: 5px;
}

.message-box {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.message-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  top: -5px;
  right: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
